<!DOCTYPE html>
<html>
<head>
	<title>Отправить ссылку</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
	<header>
		<h1>Проверка функционала сайтов</h1>
		<nav>
			<ul>
				<li><a href="/">Главная</a></li>
				<li><a href="/task_checker">Отправить ссылку</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<h2>Отправить ссылку</h2>
		<form action="" method="POST">
			<label for="link">Ссылка на сайт:</label>
			<input type="text" id="link" name="link"><br>
			<label for="task">Номер задания:</label>
			<select id="task" name="task_number">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select><br>
			<input type="submit" value="Отправить">
		</form>
	</main>

</body>
</html>
