/* Основные стили */

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav {
  float: right;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-left: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;

}

main {
  margin: 20px auto;
  max-width: 800px;
  padding: 0 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Стили для страницы отправки ссылки */

form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

label {
  margin-bottom: 10px;
}

input[type="text"],
select {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* Стили для страницы успеха */

p {
  margin-bottom: 10px;
}

/* Стили для страницы ошибки */

ul {
  list-style: none;
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}

span {
  margin-right: 10px;
}

.krestik {
  color: red;
}

.galochka {
  color: green;
}
